/* Alternative Signup */

#signup{

    width: 100%;
    max-width: 750px;
    margin: 0 auto;

}

.alt {

    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 750px;
    margin: 0 auto;

}


#button {

    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

#button button{

    width: 700px;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;

}

/* Form */

.form {

    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    max-width: 750px;
    margin: 0 auto;

}

.field{

    margin-top: 20px;
    margin-bottom: 30px;

}

.form input{

    margin-top: 5px;
    width: 700px;
    padding: 10px 15px;

}

.form #radio{

    margin-top: 5px;
    width: 30px;
    padding: 0px 15px;

}

.form select{

    margin-top: 5px;
    width: 740px;
    padding: 10px 15px;

}

.form #submit{

    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 740px;
    padding: 20px 20px;
    font-size: 16px;

}
